html.StartHTML {
	height: 100%;
}

body.StartBody {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Start {
	.heading {
		position: relative;
		bottom: 75px;
		display: flex;
		justify-content: center;
		align-items: center;

		.name {
			display: none;
			font-size: 36px;
			margin-bottom: 5px;
			a {
				text-decoration: none;
				color: $light-gray;
			}
			.bold {
				font-weight: bold;
			}
		}
		.start {
			font-size: 26px;
			color: $light-gray;
		}
		.logo {
			background-image: url(/static/img/noun_birthday.svg);
			height: 90px;
			width: 90px;
			background-repeat: no-repeat;
			background-size: 90px;
			transition: 250ms $transition-exit-func transform;
			&:hover {
				transform: scale(1.07);
				transition: 500ms $transition-enter-func transform;
			}
		}
	}

	.form-transition-enter {
		transform: translateY(-30px);
	}
	.form-transition-enter-active {
		transform: translateY(0);
		transition: transform 750ms $transition-enter-func;
	}

	.form {
		min-width: 300px;
		max-width: 300px;
		min-height: 225px; // manually inspected + leeway
		padding: 0 10px;

		form {
			display: flex;

			input[type=text], input[type=email], input[type=password] {
				border: none;
				border-radius: 0;
				background-image: none;
				background-color: transparent;
				box-shadow: none;
				outline: 3px solid hsla(0, 0, 0, 0.2);
				font-family: $font-family;
				color: $color-default;

				&:focus {
					border-color: transparent;
					outline: 3px solid $http-pink;
				}
				&:disabled {
					opacity: 0.5;
				}
				&::placeholder {
					font-family: monospace;
				}

				width: 100%;
				padding: 8px 12px 8px 12px;
				font-size: 21px;
				display: inline-block;
			}
		}

		.instruction {
			width: 100%;
			line-height: 1.4em;
			font-size: 15px;
			color: $color-instruction;
			margin-top: 14px;
			p {
				margin-top: 0;
			}
			.submitted-email {
				color: $color-instruction;
				text-decoration: underline;
			}
		}

		.step {
			width: 100%;
			line-height: 1.35em;
			font-size: 15px;
			color: $color-instruction;
			margin-bottom: 14px;
		}
	}

	@media (min-width: 600px) {
		.form {
			max-width: 400px;
			min-width: 400px;
			padding: 0 20px;
		}
	}
}

