html.Start {
	height: 100%;
}

body.Start {
	min-height: 100%;
}

.Start {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;

	.heading {
		position: relative;
		bottom: 100px;

		.name {
			font-weight: bold;
			font-size: 24px;
			a {
				text-decoration: none;
				color: $light-gray;
			}
		}
		.start {
			font-weight: bold;
			font-size: 24px;
			color: $color-default;
		}
	}

	.form-transition-enter {
		transform: translateY(-30px);
	}
	.form-transition-enter-active {
		transform: translateY(0);
		transition: transform 750ms;
	}

	.form {
		max-width: 400px;
		min-width: 400px;
		min-height: 185px; // manually inspected
		padding: 0 20px;

		form {
			display: flex;

			input[type=text], input[type=email], input[type=password] {
				border: none;
				caret-color: hsla(0, 0, 0, 0.6);
				border-radius: 0;
				background-image: none;
				background-color: transparent;
				box-shadow: none;
				outline: 3px solid hsla(0, 0, 0, 0.2);
				font-family: $font-family;
				color: $color-default;

				&:focus {
					border-color: transparent;
					outline: 3px solid $green;
				}
				&:disabled {
					opacity: 0.5;
				}

				width: 100%;
				padding: 8px 12px 8px 12px;
				font-size: 21px;
				display: inline-block;
			}
		}

		.instruction {
			width: 100%;
			line-height: 1.4em;
			font-size: 15px;
			color: #777;
			margin-top: 14px;
			p {
				margin-top: 0;
			}
		}

		.step {
			width: 100%;
			line-height: 1.35em;
			font-size: 15px;
			color: #777;
			margin-bottom: 14px;
		}
	}
}

