{{ define "base" }}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Birthdays: {{.Day}} {{.Month.String}}</title>
</head>
<body>
	<style type="text/css">
		html {
		}
		body {
			font-family: cantarell, helvetica, arial, sans-serif;
			font-size: 15px;
			color: #333;
			padding: 10px 15px;
			max-width: 600px;
			margin: 0 auto;
		}
		section {
			margin-bottom: 30px;
		}
		.item {
			margin-bottom: 30px;
		}
		.item .art {
			max-width: 180px;
			border: 3px solid #e5e5e5;
		}
		.item .info {
			margin-top: 5px;
			line-height: 1.4;
		}
		.item .r0 {
			margin-top: 5px;
		}
		.info a {
			color: #333;
		}
	</style>

	<section class="header">
		<h2>Birthdays on {{.Day}} {{.Month.String}}</h2>
		<a href="{{.AppVisitURL}}">{{.AppVisitURL}}</a>
	</section>

	<section class="main">
		{{ range .BirthdayItems }}
			{{ template "item" . }}
		{{ end }}
	</section>

	<section class="footer">
		<a href="{{.UnsubURL}}">Unsubscribe</a>
	</section>
</body>
</html>
{{ end }}

{{ define "item" }}
<div class="item">
	{{ if .Link }}
		<a href="{{.Link}}">
			<img class="art" src="{{.ArtworkURL}}">
		</a>
	{{ else }}
		<img class="art" src="{{.ArtworkURL}}">
	{{ end }}
	<div class="info">
		<div class="r0">
			{{ if .Link }}
				<a href="{{.Link}}">
					<span class="album">{{.Album.Album}}</span>
				</a>
			{{ else }}
				<span class="album">{{.Album.Album}}</span>
			{{ end }}
		</div>
		<div>
			<span class="artist">{{.Artist}}, </span>
			<span class="year">{{.Release.Year}}</span>
		</div>
		<div>
			<span>Songs:&nbsp;</span>
			{{ $songs := .Songs }}
			{{ if gt (len .Songs) 5 }}
				{{ $songs = slice .Songs 0 5 }}
			{{ end }}

			{{ range $i, $song := $songs }}
				{{ if $song.Link }}
					<a href="{{$song.Link}}"><span class="song">{{$song.Title}}</span></a>{{ if ne $i (add (len $songs) -1) }}<span>, </span>{{ end }}
				{{ else }}
					<span class="song">{{$song.Title}}</span>{{ if ne $i (add (len $songs) -1) }}<span>, </span>{{ end }}
				{{ end }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
