{{ define "base" }}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{.Day}} {{.Month.String}}</title>
</head>
<body style="font-family: helvetica, arial, sans-serif;margin-left:10px;max-width: 400px;line-height: 1.2;">
	<style type="text/css">
		body {
			font-family: helvetica, arial, sans-serif;
			margin-left: 10px;
			max-width: 400px;
			line-height: 1.2;
		}
		section {
			margin-bottom: 30px;
		}
		section.main {
			margin-bottom: 45px;
		}
		.item {
			margin-bottom: 30px;
		}
		.item .art {
			max-width: 180px;
			box-shadow: 2px 2px 10px 1px rgba(0,0,0,.1),-2px 2px 10px 1px rgba(0,0,0,.1);
		}
		.item .release-match {
			font-style: italic;
		}
		.item .info {
			margin-top: 5px;
		}
		.support {
			margin-top: 15px;
		}
	</style>

	<section class="header" style="margin-bottom: 30px;">
		<h2>album birthdays, {{.Day}} {{lower .Month.String}}</h2>
		<a href="{{.AppVisitURL}}">{{.AppVisitURL}}</a>
	</section>

	<section class="main" style="margin-bottom: 45px;">
		{{ range .BirthdayItems }}
		{{ template "item" . }}
		{{ end }}
	</section>

	<section class="footer" style="margin-bottom: 30px;">
		<div><a href="{{.UnsubURL}}">Unsubscribe</a></div>
		<div class="support" style="margin-top: 15px;"><a href="mailto:{{.SupportEmail}}">Email support</a></div>
	</section>
</body>
</html>
{{ end }}


{{ define "item" }}
<div class="item" style="margin-bottom: 30px;">
	{{ if .Link }}
	<a href="{{.Link}}">
		<img alt="Artwork for album '{{.Album.Album}}'" class="art" src="{{.ArtworkURL}}" style="max-width: 180px;box-shadow: 2px 2px 10px 1px rgba(0,0,0,.1),-2px 2px 10px 1px rgba(0,0,0,.1);">
	</a>
	{{ else }}
	<img class="art" src="{{.ArtworkURL}}" style="max-width: 180px;">
	{{ end }}
	<div class="info" style="margin-top: 5px;">
		<div>
			{{ if .Link }}
			<a href="{{.Link}}">
				<span class="album">{{.Album.Album}}</span>
			</a>
			{{ else }}
			<span class="album">{{.Album.Album}}</span>
			{{ end }}
		</div>
		<div>
			<span class="artist">{{.Artist}}, </span>
			<span class="year">{{.Release.Year}}</span>
			{{ if releaseMatchMonth .ReleaseMatch }}<span class="relese-match" style="font-style: italic;">— this month</span>{{ end }}
		</div>
		<div>
			<span>Songs:&nbsp;</span>
			{{ $songs := .Songs }}
			{{ if gt (len .Songs) 5 }}
			{{ $songs = slice .Songs 0 5 }}
			{{ end }}

			{{ range $i, $song := $songs }}
			{{ if $song.Link }}
			<a href="{{$song.Link}}"><span class="song">{{$song.Title}}</span></a>{{ if ne $i (add (len $songs) -1) }}<span>, </span>{{ end }}
			{{ else }}
			<span class="song">{{$song.Title}}</span>{{ if ne $i (add (len $songs) -1) }}<span>, </span>{{ end }}
			{{ end }}
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
