<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Be notified on release date anniversaries for titles in your Spotify or Apple Music library.">
	<title>{{.Title}}</title>

	<link rel="stylesheet" href="/static/dist/css/main.css">
	<link rel="stylesheet" href="/static/css/nprogress.css">
	<link rel="stylesheet" href="/static/css/toastify.css">
	<link rel="stylesheet" href="/static/font/font.css">

	<!-- favicon: https://realfavicongenerator.net -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/site.webmanifest">
	<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#9f00a7">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div id="mount"></div>
	<script>
		const bootstrap = {{.Bootstrap}}
	</script>
	<script src="/static/js/nprogress.js"></script>
	<script src="/static/dist/js/web.main.js"></script>

	{{ if not .IsDev }}
	<link rel="stylesheet" href="//hello.myfonts.net/count/2f00b2">
	{{ end }}
</body>
</html>
