@import "./vars";
@import "./mixins";
@import "./components";
@import "./overrides";

body {
	font-family: $font-family;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: $blue-active;
}

.toastify-toast {
}
