@import "./vars";
@import "./mixins";
@import "./components";
@import "./overrides";

body {
	font-family: $font-family;
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: underline;
	color: $blue-active;
	&:hover {
		color: #0099ff; // redis.io hover links
	}
	&.gray {
		color: $color-instruction;
		&:hover {
			color: $color-instruction;
		}
	}
}

.toastify-custom.toastify-custom-higher-precedence.toastify-custom-higher-precedence-2 {
	// Original CSS uses "max-width: fit-content", which is an invalid value on Firefox.
	// Bug reveals itself on Firefox.
	max-width: -moz-fit-content;
	max-width: fit-content;
}
