$font-family: proxima-nova, -apple-system, BlinkMacSystemFont, sans-serif;

$trypan-blue: rgba(57, 0, 153, 1);
$jazzberry-jam: rgba(158, 0, 89, 1);
$red-crayola: rgba(255, 0, 84, 0.5);
$orange-pantone: rgba(255, 84, 0, 1);
$mango: rgba(255, 189, 0, 1);
