$font-family: proxima-nova, -apple-system, BlinkMacSystemFont, sans-serif;
$color-default: #444;

$yellow: rgba(252, 188, 59, 1); // macOS window minimize
$medium-red: rgba(188, 68, 64, 1);
$bright-red: rgba(251, 83, 76, 1);
$dark-red: rgba(140, 16, 16, 1);
$light-blue: rgba(74, 132, 177, 1);
$blue: rgba(47, 105, 149, 1);
$green: rgba(49, 199, 67, 1);
$green-alpha: rgba(49, 199, 67, 0.7);
$mdn-blue: rgba(128, 201, 236, 1);
$light-gray: rgba(120, 120, 120, 0.5);
