.Button {
	button {
		padding: 10px 24px;
	    font-size: 14px;
	    color: #fff;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    user-select: none;
	    background-color: $blue-active;
	    border: none;
	    border-radius: 3px;
	    transition: 0.2s;
	    appearance: none;
	    outline: none;
	}
}
