<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/dist/css/main.css">
	<link rel="stylesheet" href="/css/nprogress.css">
	<link rel="stylesheet" href="/css/toastify.css">
	<link rel="stylesheet" href="/font/font.css">
</head>
<body>
	<div id="mount"></div>
	<script>
		const bootstrap = JSON.parse({{{bootstrapJSON}}})
	</script>
	<script src="/js/nprogress.js"></script>
	<script src="/dist/js/web.main.js"></script>
</body>
</html>
