.Connect {
	.main-instruction {
		.title {
			font-size: 26px;
			font-weight: bold;
			color: $color-default;
			margin-bottom: 3px;
		}
		.subtitle {
			line-height: 1.4;
			color: $color-instruction;
		}
		margin-bottom: 60px;
	}

	.services-next-step-transition-enter.container {
		opacity: 0;
		transform: translateX(-5%);
	}
	.services-next-step-transition-enter-active.container {
		opacity: 1;
		transform: translateX(0%);
	}
	.services-next-step-transition-exit.container {
		opacity: 1;
		transform: translateX(0%);
	}
	.services-next-step-transition-exit-active.container {
		opacity: 0;
		transform: translateX(10%);
	}
	.services-next-step-transition-enter-active.container {
		transition: opacity 300ms $transition-enter-func, transform 300ms $transition-enter-func;
	}
	.services-next-step-transition-exit-active.container {
		transition: opacity 300ms $transition-exit-func, transform 300ms $transition-exit-func;
	}

	.container {
		display: flex;

		.services-down-transition-enter {
			transform: translateY(-20px);
		}
		.services-down-transition-enter-active {
			transform: translateY(0);
			transition: transform 750ms $transition-enter-func;
		}

		.services {
			display: flex;
			width: 100%;
			max-width: 500px;

			.or {
				height: inherit;
				border-right: 1px solid rgb(120 120 120 / 19%);
			}

			.service-container {
				box-sizing: content-box;
				cursor: pointer;

				.service-box {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100px;
					width: 100px;

				    transition: 250ms $transition-exit-func transform;
				}

				&:hover {
					.service-box {
						transform: scale(1.07);
						transition: 500ms $transition-enter-func transform;
					}
				}

				&.spotify {
					border-right: solid 30px transparent;
					.service-box {
						background-image: url(/img/spotify.svg);
						background-size: 100px;
					}
				}
				&.scrobble {
					border-left: solid 30px transparent;
					.service-box {
						background-image: url(/img/apple_music.svg);
					}
				}

				.service-label {
					line-height: 1.5;
					color: $color-instruction;
					text-align: center;
					font-size: 15px;
					margin-top: 30px;
					a {
						color: $color-instruction;
					}
				}
			}
		}
	}

	@media (min-width: 460px) {
		.container {
			.services {
				.service-container {
					&.spotify {
						border-right: solid 40px transparent;
					}
					&.scrobble {
						border-left: solid 40px transparent;
					}
				}
			}
		}
	}

	@media (min-width: 700px) {
		.main-instruction {
			margin-bottom: 90px;
		}
	}
}
