html.Dashboard {
	height: 100%;
}

body.Dashboard {
}

.Dashboard {
	margin: 0 auto;
	margin-top: 40px;
	padding: 0 10px;
	max-width: 760px;


	.nav {
		font-size: 36px;
		font-weight: bold;
		display: flex;

		.nav-item {
			a {
				color: $light-gray;
				text-decoration: none;
				&:hover {
					color: $green-alpha;
				}
			}
			&.active {
				a {
					color: $green;
				}
			}

			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.pane {
		margin-top: 50px;
	}

	@media (min-width: 700px) {
		margin-top: 40px;
	}
}
