html.DashboardHTML {
	// border-top: 5px solid $http-pink;
}

body.DashboardBody {
	// border-top: 5px solid $purple;
}

.Dashboard {
	margin: 0 auto;
	margin-top: 20px;
	padding: 0 15px 0 15px;
	max-width: 700px;

	.nav {
		display: flex;

		.nav-item {
			font-size: 30px;
			font-weight: bold;

			a {
				color: $light-gray;
				text-decoration: none;
				transition: color 100ms ease-in;
				&:hover {
					color: $http-pink;
					transition: color 50ms ease-in;
					opacity: 0.95;
				}
			}
			&.active {
				a {
					color: $http-pink;
				}
			}

			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.pane {
		margin-top: 50px;
	}

	@media (min-width: 350px) {
		padding: 0 20px;
		.nav {
			.nav-item {
				font-size: 34px;
			}
		}
	}

	@media (min-width: 600px) {
		padding: 0 30px;
		margin-top: 60px;
		.nav {
			.nav-item {
				font-size: 36px;
			}
		}
	}
}
